/* nav bar css */
* {
    padding: 0px;
    margin: 0px;
   }
   /* nav bar css */
   #nav_cont{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
     
   }
   #nav_left{
     margin-top: 70px;
     display: flex;
     justify-content: space-evenly;
     
   }
   #nav_left a{
     color: #183962;
     text-decoration: none;
   }
   
   #nav_right{
     margin-top: 70px;
     display: flex;
     justify-content: space-evenly;
   }
   #search{
     padding: 5px 40px;
     border-radius: 10px;
     border: 1px solid #183962;
   }
   #search:hover{
     border: 1px solid rgba(0,0,0,.2);
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01);
   }
   #cart{
     font-size: 20px;
     color: #183962;
   }
   #pay{
    font-size: 20px;
     color: #183962;
   }
   #pay:hover{
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01)
   }
   #cart:hover{
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01)
   }
   #user{
     font-size: 20px;
     color: #183962
   }
   #user:hover{
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01)
   }
/* body css */
h1{
    margin-top: 10px; 
    margin-bottom: 20px;
    color: #183962;
 }
 #all_entry {
     margin-left: 100px;
     
 }
 #all_entry form p input{
     margin-bottom: 5px;
     padding: 10px 200px;
     border-radius: 10px;
     border: 1px solid black;
 }
 #all_entry .addressButton>input{
     padding:10px 235px;
     background-color: #183962;
     color: white;
     border: 1px solid #183962;
 
 }
 #all_entry .addressButton>input:hover{
     cursor: pointer;
     background-color: #183962;
 }
 #all_entry form p input:hover{
     border: 1px solid #183962;
 }