* {
    padding: 0px;
    margin: 0px;
   }
   /* nav bar css */
   #nav_cont{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
     
   }
   #nav_left{
     margin-top: 70px;
     display: flex;
     justify-content: space-evenly;
     
   }
   #nav_left a{
     color: #183962;
     text-decoration: none;
   }
   
   #nav_right{
     margin-top: 70px;
     display: flex;
     justify-content: space-evenly;
   }
   #search{
     padding: 5px 40px;
     border-radius: 10px;
     border: 1px solid #183962;
   }
   #search:hover{
     border: 1px solid rgba(0,0,0,.2);
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01);
   }
   #cart{
     font-size: 20px;
     color: #183962;
   }
   #cart:hover{
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01)
   }
   #user{
     font-size: 20px;
     color: #183962
   }
   #user:hover{
     cursor: pointer;
     transform: scale3d(1.01,1.01,1.01)
   }
   /* register input css */
   #register{
    text-align: center;
    
   }
   #register h1{
    margin-bottom: 20px;
    color: #183962;
   }
   #all_data{
    
    width: 30%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
    border-radius: 10px;
   }
   #all_data input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid gray;
   }
   #all_data button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid gray;
   }
   #all_data button:hover{
    background-color: #183962;
    cursor: pointer;
    color: white;
   }